@page
@model MyApp.Namespace.ChatRoomModel
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome to our ChatRoom!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment">Hi @Model.UserName</span>
                </div>
                <div class="panel-body">
                    <ul id="chatMessage" class="chat">
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="UserName"/>
</div>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat-room.js"></script>
}